<%= link_to "W.L", root_path, class: "home-button" %>

<div class="lists-box">
    <%@lists.each do |list|%>
      <div class="list-item">

        <%= link_to list_path(list.id) do%>
          <div class="name sub-item"><%= list.name %></div>
        <%end%>

        <%= link_to new_list_bookmark_path(list) do%>
          <div class="add sub-item">Add a movie</div>
        <%end%>

        <%= link_to list_path(list.id), method: :delete  do%>
          <div class="delete sub-item">Delete</div>
        <%end%>

      </div>
    <% end %>
  <div class="nlb-div">
    <%= link_to "+", new_list_path, class: "new-list-button" %>
  </div>
</div>
